body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 128px;
    height: 128px;
}

button {
    border-radius: 25px;
    background-color: rgb(199, 224, 247);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.score {
    margin-top: 200px;
    display: flex;
    align-self: stretch;
    justify-content: space-around;
}

h1 {
    color: darkmagenta;
    font-size: 40px;
}

#restart {
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(225, 127, 255);
    width: 200px;
    height: auto;
}

.computer.buttons {
    position: absolute;
    top: 80vh;
}

.computer.buttons button{
    pointer-events: none;
    background-color: rgb(247, 199, 202);
}

.clicked {
    border-radius: 25px;
    transform: scale(1.1);
    border-color: #00ffea;
    box-shadow: 0 0 1rem #00ffea;
}

.computer.buttons .clicked {
    border-color: #ff3c00d7;
    box-shadow: 0 0 1rem #ff3c00d7;
}